body {
    background-color: #283747 ;
    color: #e5e8e8;
    font-family: 'Rubik', sans-serif;
}

#popup-content {
    width: 300px;
    text-align: center;
}

.menu-title {
    height: 40px;
    font-size: 1.2em;
}

.option {
    height: 30px;
    font-size: 1em;
    border: 1px solid #e5e8e8;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
}